body {
    font-family: 'Bebas Neue', cursive;
    /* background-image: linear-gradient(
        45deg,
        red,
        white,
        blue
    );
    background-repeat: no-repeat; */
}

.clock  {
    max-width: 500px;
    max-height: 200px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.clock-container {
}


.tabs {
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 200px;
    background-color: teal;
}