body {
    font-family: 'Bebas Neue', cursive;
    
}

.clock  {
    max-width: 500px;
    max-height: 200px;
    background-image: linear-gradient(45deg,
        red,
        white,
        blue);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.tabs {
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 200px;
    background-color: teal;
}